.archived-card {
    background-color: var(--light-bg-color);
    margin: 1.5em 0;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
    display: flex;
}

.archived-card__progress-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
}

.archived-card__summary-container {
    flex: 3;
}

.CircularProgressbar.archived-card__progress .CircularProgressbar-text {
    fill: var(--accent-color);
}

.CircularProgressbar.archived-card__progress .CircularProgressbar-path {
    stroke: var(--accent-color);
}

.CircularProgressbar.archived-card__progress .CircularProgressbar-trail {
    stroke: var(--main-color);
}

.archived-card__date {
    color: var(--main-color);
    margin-bottom: .8em;
}