.archived-card {
    background-color: var(--light-bg-color);
    margin: 1.5em 0;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
    display: flex;
}

.archived-card__progress-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
}

.archived-card__summary-container {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.CircularProgressbar.archived-card__progress .CircularProgressbar-text {
    fill: var(--accent-color);
}

.CircularProgressbar.archived-card__progress .CircularProgressbar-path {
    stroke: var(--accent-color);
}

.CircularProgressbar.archived-card__progress .CircularProgressbar-trail {
    stroke: var(--main-color);
}

.archived-card__date {
    color: var(--main-color);
    margin-bottom: .8em;
}

.archived-card__summary {
    display: flex;
    flex-direction: column;
}

.summary__header {
    display: flex;
    align-items: center;
}

.summary__header h3 {
    margin-right: .5em;
}

.summary--green .summary__header {
    color: var(--accent-color);
}

.summary--orange .summary__header {
    color: var(--secondary-color);
}

.summary--purple .summary__header {
    color: var(--main-color);
}

.summary--blue .summary__header {
    color: var(--complement-color);
}

.summary__count {
    font-size: 1.2rem;
    margin-top: .5em;
}


@media screen and (min-width: 1024px) {
   .summary__count {
       font-size: 2rem;
   } 
}