.modal-archived {
    width: 0%;
    background-color: white;
    position: absolute;
    top: 6rem;
    left: 0;
    border-radius: 40px 40px 0 0;
    transform: translateX(-100%);
    transition: .2s ease-in-out;
    min-height: calc(100% - 6rem);
    overflow: hidden;
}

.modal-archived.modal-archived--active {
    width: 100%;
    transform: translateX(0);
}

.modal-archived__title {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.8rem;
}

.modal-archived__title h2 {
    font-size: 2.5rem;
    color: var(--main-color);
    position: relative;
}

.modal-archived__hrule {
    margin: 0 1rem;
    flex:1;
    height: 2px;
    background-color: var(--main-color);
}

.modal-archived__card-container {
    margin: 1rem 1.5rem;   
}

@media screen and (min-width: 1024px) {
    .modal-archived {
        top: 8rem;
        min-height: calc(100vh - 8rem);
    }
}