.card {
    padding: 1em;
    border-radius: 10px;
    color: white;
}

/* Color styles */
.card--green {
    background-color: var(--accent-color);
}

.card--orange {
    background-color: var(--secondary-color);
}

.card--blue {
    background-color: var(--complement-color);
}

.card--purple {
    background-color: var(--main-color);
}  

/* Card elements */
.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .6em;
}

.card__counter {
    display: flex;
    align-items: baseline;
}

.card__counter span {
    margin-right: .2em;
}