.card {
    padding: 1em;
    border-radius: 10px;
    color: white;
}

.card--green {
    background-color: var(--accent-color);
}

.card--orange {
    background-color: var(--secondary-color);
}

.card--blue {
    background-color: var(--complement-color);
}

.card--purple {
    background-color: var(--main-color);
}  